button {
    background-color: #ffffff;
    border: none;
    height: 80px;
    width: 80px;
    margin-top: -4px;
    padding: 0;
}

.center {
    text-align: center;
}

.turn {
    display: inline;
    font-size: 32px;
    font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
}

.fullBoard {
    display: flex;
    flex-direction: column;
}
